extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque convallis mauris. Mauris sit amet mauris sed orci tincidunt cursus at et lacus. Nulla interdum ante ipsum, non hendrerit urna fringilla non. Proin maximus, arcu at rhoncus finibus, turpis ligula laoreet diam, sit amet vulputate sapien nulla ut dolor.
                p Nulla quis odio risus. Fusce eget dictum ante. Donec eu porta lorem. Sed a purus ac erat semper fermentum. Fusce ac consequat leo. Maecenas congue porttitor accumsan. Fusce commodo leo sapien, sed elementum elit consequat at. Ut nulla felis, aliquam sed consectetur ut, condimentum eget nunc. Nunc pulvinar purus sed turpis luctus, at vehicula mi posuere. Pellentesque ullamcorper, ex et aliquet tristique, nisi nulla consequat tellus, ac vestibulum nibh tellus et massa.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row  
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 12 DIC - 26 DIC 
                        p.precio $3.000 USD
    
            
    .container 
        .h2.mt-5.text-center Testimoniales 
            include ./layout/bloque_testimonios